body {
    width: 500px;
    background-color: white;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
a {
    color: black;
}
::-webkit-scrollbar {
    display: none;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container {
    margin: 5px 0px;
    padding: 0px 5px;
}
.card.recom-source .card-img {
    width: 100px;
    height: 100px;
}
.card.recom-source .card-body {
    max-height: 80px;
    height: fit-content;
}
.rm-container {
    padding: 0px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}
#title {
    margin: 0 4px;
}
.ver-center {
    display: block;
    margin: auto;
    line-height: 38px;
}
#rm-title div{
    font-size: 1em;
}
#dropdownBtn {
    border: 0px;
}
#refresh {
    border: 0px;
}
.split-line {
    background: linear-gradient(to left, #efefef, #b6b6b6, #efefef);
    height: 1px;
    margin: 0 0 5px 0;
}
#rm-card {
    margin: 3px 2px;
}
#rm-card .card-img {
    height: 70px;
}
#rm-card .card-body {
    max-height: 70px;
    height: fit-content;
}
.card-margin-top {
    margin-top: 8px;
}
.dpHistory {
    position: absolute; 
    transform: translate3d(0px, 38px, 0px); 
    top: 0px; 
    left: 0px; 
    will-change: transform;
}
.swap {
    background-image: url('../img/swap.png');
    background-color: transparent;
    width: 18px;
    height: 18px;
    display: block;
    margin: auto;
    border: none;
    opacity: 0.5;
    background-size: contain;
    transition: 0.3s;
}
.swap:hover {
    opacity: 1;
}
.swap:focus {
    outline: none;
}
.like {
    background-image: url('../img/heart.png');
    background-color: transparent;
    width: 23px;
    height: 23px;
    display: block;
    margin: auto;
    border: none;
    opacity: 0.5;
    background-size: contain;
    transition: 0.3s;
}
.like:hover {
    opacity: 1;
}
.like:focus {
    outline: none;
}
.cube-b {
    background-image: url('../img/info.png');
    background-color: transparent;
    width: 15px;
    height: 15px;
    display: block;
    margin: auto;
    border: none;
    opacity: 0.5;
    background-size: contain;
    transition: 0.3s;
}
.cube-b:hover {
    opacity: 1;
}
.cube-b:focus {
    outline: none;
}
.card-body {
    padding: 5px 10px;
}
.cube-r {
    width: 30px;
    height: 10px;
    background-color: red;
    border-radius: 10;
    margin-bottom: 7px;
}
.cube-r.deactive {
    display: none;
}
.cube-y {
    width: 45px;
    height: 10px;
    background-color: #FFC107;
    border-radius: 10;
    margin-bottom: 7px;
}
.cube-y.deactive {
    display: none;
}
.cube-y-word {
    width: 45px;
    height: 10px;
    color: #fff;
}
.btn-sm {
    padding: 0rem 0.5rem 0.2rem 0rem;
}
#product-col b {
    position: absolute;
    border-color: #666 #fff #fff;
	border-style: solid;
    border-width: 4px;
    margin-top: 6px;
}
.collapse-detail {
    position: relative;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
#product-detail {
    margin: 2px 2px;
    width: 100%;
    height: 150px;
}
#product-reason {
    margin: 2px 2px;
    width: 100%;
    height: 130px;
}
.card-1-index { z-index: 4; }
.card-2-index { z-index: 3; }
.card-3-index { z-index: 2; }
.card-4-index { z-index: 1; }
.ytb-logo {
    height: 10px;
    width: 14.333px;
    opacity: 0.5;
    transition: 0.3s;
}
.ytb-logo:hover {
    opacity: 1;
}
.text-model {
    max-width:290px;
    display: block;
}
.more {
    margin-left: 7px;
}
.progress-bar {
    width: 47%;
    height: 5px;
    background-color: #f9e1e3;
    border-radius: 3px;
    margin: auto;
    margin-left: 8px;
    margin-right: 8px;
}
.progress-bar-conpre {
    width: 65%;
    height: 5px;
    background-color: #f9e1e3;
    border-radius: 3px;
    margin: auto;
    margin-left: 8px;
    margin-right: 8px;
}
.progress-bar-mini {
    width: 40%;
    height: 3px;
    background-color: #f9e1e3;
    border-radius: 3px;
    margin: auto;
    margin-left: 8px;
    margin-right: 8px;
}
.progress-75 {
    width: 75%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-60 {
    width: 60%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-2877 {
    width: 28.77%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-23 {
    width: 23%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-1432 {
    width: 14.32%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-8723 {
    width: 87.23%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-2680 {
    width: 26.80%;
    height: 100%;
    background-color: rgb(54, 162, 235);
    border-radius: 3px;
}
.progress-3842 {
    width: 38.42%;
    height: 100%;
    background-color: rgb(54, 162, 235);
    border-radius: 3px;
}
.progress-6675 {
    width: 66.75%;
    height: 100%;
    background-color: rgb(54, 162, 235);
    border-radius: 3px;
}
.progress-7536 {
    width: 75.36%;
    height: 100%;
    background-color: rgb(54, 162, 235);
    border-radius: 3px;
}
.progress-86 {
    width: 86%;
    height: 100%;
    background-color: rgb(255, 205, 86);
    border-radius: 3px;
}
.progress-8123 {
    width: 81.23%;
    height: 100%;
    background-color: rgb(255, 205, 86);
    border-radius: 3px;
}
.progress-5410 {
    width: 54.10%;
    height: 100%;
    background-color: rgb(255, 205, 86);
    border-radius: 3px;
}
.progress-84 {
    width: 84.00%;
    height: 100%;
    background-color: rgb(255, 205, 86);
    border-radius: 3px;
}
.progress-6638 {
    width: 66.38%;
    height: 100%;
    background-color: rgb(77, 83, 96);
    border-radius: 3px;
}
.progress-6458 {
    width: 64.58%;
    height: 100%;
    background-color: rgb(77, 83, 96);
    border-radius: 3px;
}
.progress-4276 {
    width: 42.76%;
    height: 100%;
    background-color: rgb(77, 83, 96);
    border-radius: 3px;
}
.progress-3992 {
    width: 39.92%;
    height: 100%;
    background-color: rgb(77, 83, 96);
    border-radius: 3px;
}
.progress-4290 {
    width: 42.90%;
    height: 100%;
    background-color: rgb(70, 191, 189);
    border-radius: 3px;
}
.progress-3729 {
    width: 37.29%;
    height: 100%;
    background-color: rgb(70, 191, 189);
    border-radius: 3px;
}
.progress-5320 {
    width: 53.20%;
    height: 100%;
    background-color: rgb(70, 191, 189);
    border-radius: 3px;
}
.progress-6311 {
    width: 63.11%;
    height: 100%;
    background-color: rgb(70, 191, 189);
    border-radius: 3px;
}
.progress-4790 {
    width: 47.90%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-5083 {
    width: 50.83%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-3321 {
    width: 33.21%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-12 {
    width: 12%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-1 {
    width: 1%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-13 {
    width: 13%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-6 {
    width: 6%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-2 {
    width: 2%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-3 {
    width: 3%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-99 {
    width: 99%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-98 {
    width: 98%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-97 {
    width: 97%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-90 {
    width: 90%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-100 {
    width: 100%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-88 {
    width: 88%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-84 {
    width: 84%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-50 {
    width: 50%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
.progress-78 {
    width: 78%;
    height: 100%;
    background-color: #e46a70;
    border-radius: 3px;
}
